/*top-containt*/
      /*middle*/
      .zooming-open,.zooming-open-1,.zooming-open-2,.zooming-open-3,.front-hide,.zooming-open-4{display:none;}
      .zooming-2{z-index:-1;position: absolute;opacity:0.7;width:75%;height:55px}
      .break,.break-1{display:none;}
      .show-for-tablate,.show-for-small-devices,.show-for-mobile,.show-for-extra-small-devices{display: none;}
      .table{padding-left:5%;padding-right:5%;}
      .block-img-for-tablate{font-size:20px;z-index:2;color:black;position: absolute;padding-left:20%;}
      .table-header{padding-left:5%}
      .zooming,.zooming-1,.zooming-3,.zooming-4,.zooming-5{width:100%;height:50px;}
      .image-lable{font-size:15px;font-weight:bold;text-transform: uppercase;}
      .img-men{height:250px;width:250px;}

      @media screen and (max-width:768px){
        .hide-kids-dress{display:block!important;}
       }
       @media screen and (max-width:991px){
        .hide-lady-1{display:none;} 
        }
        @media screen and (max-width:1199px){
            .hide-lady{display:none;}
            }
       @media screen and (max-width:767px){
           .hide-kids-dress{display:none!important;}
       }
      
      @media screen and (max-width:1200px){
          .break{display: block;}
      }
      @media screen and (max-width:991px){
          .break{display: none;}
         .hide-for-tablate{display: none}
         .show-for-tablate,.show-for-small-devices{display: block;}
      }
      @media screen and (max-width:560px){
        .table{padding-left:0%;}
      }
      @media screen and (max-width:768px){
        .block-img-for-tablate{padding-left:24%;}
      }
      @media screen and (max-width:425px){
        .show-for-tablate{display:none !important;}
          .show-for-mobile{display: block;}
          .zooming,.zooming-1,.zooming-3,.zooming-4,.zooming-5{width:150%;height:50px;}
          .zooming-2{width:100%;height:55px}
      }
      @media screen and (max-width:375px){
        .break{display:block;}
        .zooming,.zooming-1,.zooming-3,.zooming-4,.zooming-5{width:200%;height:50px;}
        .zooming-2{width:100%;height:55px}
      }
      @media screen and (max-width:320px){
        .show-for-mobile{display:none;}
        .show-for-extra-small-devices{display:block;}
        .break-1{display: block;}
        .zooming,.zooming-1,.zooming-3,.zooming-4,.zooming-5{width:200%;height:50px;}
        .zooming-2{width:100%;height:55px}
      }
      /*middle*/