.btn {
    background-color: #45ccb8 !important;
    border-color: #45ccb8 !important;
    color: white;
}

.login-wrap .icon {
    background-color: #45ccb8 !important;
}

.fa-color {
    color: white;
}